{% extends 'base.html.twig' %}

{% block title %}Adicionando série{% endblock %}

{% block body %}

    <form method="post" action="{{ path('app_series_form_POST') }}">
        <div class="mb-3">
            <label class="form-label" for="name">Nome da série:</label>
            <input class="form-control" type="text" name="name" id="name" value={{ series.name
            }}/>
        </div>
        <button class="btn btn-primary">Adicionar</button>
    </form>

{% endblock %}