{% extends 'base.html.twig' %}

{% block title %} {{ series is defined ? 'Editando série' : 'Adicionando série'}}{% endblock %}

{% block body %}

    <form method="post"
          action="{{ series is defined ? path('app_series_form_edit_PATCH',
            {id: series.id}) : path('app_series_form_POST') }}">

        {% if series is defined %}
            <input type="hidden" name="_method" value="PATCH">
        {% endif %}


        <div class="mb-3">
            <label class="form-label" for="name">Nome da série:</label>
            <input class="form-control" type="text" name="name" id="name"
                   value="{{ series is defined ? series.name   : "" }}"
            >
        </div>

        <button class="btn btn-primary">
        {{ series is defined ? 'Editar' : 'Adicionar' }}
        </button>
    </form>

{% endblock %}