{% extends 'base.html.twig' %}

{% block title %}Adicionando série{% endblock %}

{% block body %}

    <form method="post">
        <label for="name">Nome da série:</label>
        <input type="text" name="name" id="name"/>
        <button>Adicionar</button>
    </form>

{% endblock %}