{% extends 'base.html.twig' %}

{% block title %}Adicionando série{% endblock %}

{% block body %}

    <form method="post">
        <div class="mb-3">
            <label class="form-label" for="name">Nome da série:</label>
            <input class="form-control" type="text" name="name" id="name"/>
        </div>
        <button class="btn btn-primary">Adicionar</button>
    </form>

{% endblock %}