{% extends 'base.html.twig' %}

{% block title %}Minhas séries{% endblock %}

{% block body %}


    <a href="{{ path("app_series_form_GET") }}" class="btn btn-outline-primary mb-3">Adicionar</a>
    <ul class="list-group">
        {% for serie in seriesList %}
            <li class="list-group-item">{{ serie.name }}</li>
        {% endfor %}

    </ul>

{% endblock %}
